// Variables
:root {
  // System
  --system_primary_color: #1c9dea;
  --system_title_color: #223645;
  --system_text_color: #647589;
  --system_white_color: #fff;
  --system_black_color: #000;

  --system_accent_color: #3fcc35;
  --system_warn_color: #ffc514;
  --system_error_color: #ff4e2b;

  // Button
  --button_primary_color: #1c9dea;
  --button_primary_bg: #ddf0fc;
  --button_secondary_color: #223645;
  --button_secondary_bg: #eff1f2;
  --button_default_width: 42px;
  --button_default_height: 42px;

  // Navigate
  --nav_default_bg: #fff;
  --nav_default_width: 100px;

  // List feature
  --feature_default_bg: #fff;
  --feature_default_width: 90px;

  // Sidebar
  --sidebar_default_bg: #fff;

  // Chatroom
  --chatroom_default_bg: #eff7fe;

  // Message
  --message_send_bg: #1c9dea;
  --message_come_bg: #e5edf5;

  // Button
  --button_hover_bg: #d3d8db;
}
